@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Geralt Roger Eric Du Haute Bellegarde</h1>
</div>


<form action="/Home/Index" method="post">
    Code here:<br>
    <textarea name="code" cols="100" rows="20">@ViewData["code"]</textarea>
    <br>
    Arguments:
    <input type="text" name="argument"><br>
    <input type="submit" value="run">
</form>

Output:-<br>
<textarea name="code" cols="100" rows="5">@ViewData["output"]</textarea>
 